<ul class="navbar-nav">
    <li class="nav-item">
        <a id="login-name" class="nav-link text-dark" href="@Url.Action("index", "home", null, Context.Request.Scheme)">Hello Moy!</a>
    </li>
    <li class="nav-item">        
        <a id="login-button" class="nav-link text-dark" href="#">Log in</a>
    </li>
    <li class="nav-item">
        <a id="logout-button" class="nav-link text-dark" href="#">Log out</a>        
    </li>    
</ul>
